body {
    min-height: 100vh;
    // background-color: rgb(43, 24, 46);
    width: 100%;
    overflow-x: hidden;
    color: white;
    position: relative;
    font-family: 'Raleway', sans-serif;
    // background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);

    .circulos {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        svg {
            width: 100%;
        }

        &.circulos-amarillo { 
            z-index: 1;
        }
        &.circulos-azul {
            z-index: 2;
        }
        &.circulos-verde {
            z-index: 3;
        }
        &.circulos-morado {
            z-index: 4;
            transform: rotate(180deg);
        }
    }

    .img-object {
        object-fit: cover;
    }

    .badge {
        background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%);
    }

    h1 {
        font-weight: 500;
        font-size: 35px;
        line-height: 1;
        color: #1b1b1b;
    }

    h5 {
        color: $grey;
        font-size: 18px;
    }

    .card-proyect {
        .text {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba($color: #000000, $alpha: 0.7);
            z-index: 1;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            color: white;
            opacity: 0;

            transition: all .3s ease;

            &:hover {
                opacity: 1;
            }
        }
    }
}