body {
    min-height: 100vh;
    // background-color: rgb(43, 24, 46);
    color: white;
    position: relative;
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

    .img-object {
        object-fit: cover;
    }

    h1 {
        font-weight: 500;
        font-size: 35px;
        line-height: 1;
        color: #1b1b1b;
    }

    h5 {
        color: $grey;
        font-size: 18px;
    }
}